* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  height: 100vh;           /* prend toute la hauteur */
  background: #111;
}

.box {
  width: 120px;
  height: 120px;
  background: red;
}
